@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  /* font-family: 'Raleway', Arial, sans-serif; */
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #0d3b317a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  

}

#homeLink, #aboutLink, #portfolioLink {
 color:white;
 text-decoration: none;
 margin:10px;
 font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
}

#container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}









