@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}



#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow:1;
  background-image: url("https://res.cloudinary.com/fsa2/image/upload/v1678901603/portfolio%20site%20images/pexels-elias-tigiser-2757549_ngaadk.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  
}
#backgroundImage {
  position:fixed;
}
#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  max-height: 10%;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  

}

#homeLink, #aboutLink, #portfolioLink {
 color:white;
 text-decoration: none;
 margin:10px;
 font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
}

#home {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow:0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 0.5px solid rgba(255, 255, 255, 0.1);

  margin-top:30px;
  display:flex;
  flex-direction: column;
  margin-right:20%;
  margin-left:20%;
  padding:20px;
}

#name{
  font-family: 'Montserrat', sans-serif;
  font-size:60pt;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: -15px;

}

#title{
  font-family: 'Lora', serif;
  font-size:30pt;
  align-self: center;
  margin-top: 0;
}


#footer {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  align-items: center;
}

#footerIcons {
margin:5px;
width:40px;
height:40px;


}

